<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #F8F9FA;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #F8F9FA;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}
</style>
<title>NiceCars - buy and sell nice cars</title>

</head>
<body style="background-image: url('/background-cover.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
	
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#" th:href="@{/}">
					<img src="/NiceCars-logo.svg" width="150" height="70" class="d-inline-block align-top" style="padding-top: 7px;">
				</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/post}"><i class="fa fa-automobile"></i> Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/my-profile}"><i class="fa fa-user-circle"></i> My profile</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" th:href="@{/filter}"><i class="fa fa-filter"></i> Filter</a>
      	</li>
      <li class="nav-item">
      	<a class="nav-link" th:href="@{/statistics}"><i class="fa fa-bar-chart"></i> Statistics</a>
      	</li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}"><i class="fa fa-sign-out"></i> Log out</a>
      </li>
      <li style="padding-left:450px;padding-top:1px;" class="nav-item" th:if="${notificationsCenter.messages.containsValue(loggedinUser.getId())}">
      	<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" style="display: inline-block;background-color:green;border-color:green;" data-toggle="modal" data-target="#exampleModal">
  					New notifications
				</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  				<div class="modal-dialog" role="document">
    				<div class="modal-content">
      					<div class="modal-header">
        					<h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
        					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          						<span aria-hidden="true">&times;</span>
        					</button>
      					</div>
      					<div class="modal-body">
							<ul class="list-group list-group-flush">
  								<li class="list-group-item" th:each="notification: ${notificationsCenter.getKeysByValue(loggedinUser.getId())}" th:text="${notification}"></li>
							</ul>
      					</div>
      					<div class="modal-footer">
      						<form class="form-inline" th:action="@{/}" th:object="${notifiedUserId}" method="post">
      							<input type="hidden" id="notifiedUserId" name="notifiedUserId" th:value="${loggedinUser.getId()}">
      							<button type="submit" name="mark-as-read" class="btn btn-primary">Mark as read</button>
      						</form>
        					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      					</div>
    				</div>
  				</div>
			</div>
      	</li>
    </ul>
    <form class="form-inline" th:action="@{/}" th:object="${term}" method="post">
    		<input class="form-control mr-sm-2" id="term" name="term" placeholder="Search">
    		<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
  		</form>
  </div>
</nav>

<div class="header">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>  
</div>

	<br>
	<br>
	<div class="container" style="background-color:white;">
		<h2>Nice Cars</h2>

		<p>
			Welcome <span sec:authentication="principal.username">User</span>!
		</p>
		
		<div class="row">
			<div>
		
		<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 50%"> Cover </th>
				<th style="width: 30%"> Title </th>
				<th style="width: 10%"> Price(€) </th>
				<th style="width: 10%"> Location </th>
			</tr>
		</thead>
			<tbody>
				<tr th:each="announcement : ${announcements}">
					<td style="position:relative;">
					<a th:href="@{/announcement/{id}(id=${announcement.id})}">
					<img width="669" height="379" class='img-thumbnail' th:src="'data:image/jpeg;base64,' 
					+ ${imageUtil.getImageData(announcement.getPhotos().get(announcement.getCoverIndex()).getBytes())}" />
					<img th:if="${announcement.isPromoted()==true}" style="position:absolute;top:17px;left:17px;" width="100" height="100" src="/promoted-ribbon.jpg"/></a></td>
            		<td><a th:href="@{/announcement/{id}(id=${announcement.id})}"><span th:text="${announcement.title}"> Title </span></a></td>	
            		<td><span th:text="${announcement.price}"> Price(€) </span></td>
            		<td><span th:text="${announcement.county} + ', ' + ${announcement.locality}"> Location </span><td>
        		</tr>
		</tbody>
	</table>
		</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
<script>
// When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>
</body>
</html>